
img {
    border: 5px black;
}

.emblem {
    width: 150px;
    height: 150px;
    border: 5px solid gray;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.slogan {
    display: block;
    text-align: center;
    background: lightgrey;
    border: 5px solid gray;

}

.info {
    background: lightgray;
}

.line {
    height: 5px;
    background-color: darkslateblue;
}

html {
    font-size: 20px;
    background: url(images/football-wallpaper.jpg);
    opacity: 100%; /* прозрачность*/
}

.line2 {
    height: 5px;
    background-color: darkslateblue;
}

.persons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

img {
    border: 2px solid gray;
}

.persons-names {
    display: flex;
    justify-content: center;
}

.table   {
    display: flex;
    justify-content: center;
   text-align: center;
}
#football-season-choice {
    display: block;
    justify-content: center;
    text-align: center;
    background-color: lightgrey;
    border: 3px darkgray solid;
    border-style: dashed double;
}
select {
    background-color: gray;
    border: 5px darkslateblue solid;
}
#season2 {
    display: none;
}
#season3 {
    display: none;
}